@use "../styles/breakpoints.scss" as breakpoints;

.overflow-auto {
  overflow: auto;
}

.overflow-x-scroll{
  overflow-x: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto{
  overflow-y: auto;
}

.overflow-y-scroll{
  overflow-y: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll{
  overflow: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden{
  overflow-y: hidden;
}

.scrollbar-minimal {
  &::-webkit-scrollbar {
      background: var(--static-transparent);
      width: var(--static-space-4);
      height: var(--static-space-4);
  }

  &::-webkit-scrollbar-track {
      background: var(--static-transparent);
  }

  &::-webkit-scrollbar-thumb {
      background: var(--neutral-alpha-medium);
      transition: var(--transition-micro-medium);
      border-radius: var(--radius-full);

      &:hover {
          background: var(--neutral-alpha-strong);
      }
  }

  &::-webkit-scrollbar-corner {
      background-color: var(--static-transparent);
  }
}

@include breakpoints.l {
  .l-overflow-auto {
    overflow: auto;
  }
  
  .l-overflow-x-scroll{
    overflow-x: scroll;
  }
  
  .l-overflow-x-auto {
    overflow-x: auto;
  }
  
  .l-overflow-y-auto{
    overflow-y: auto;
  }
  
  .l-overflow-y-scroll{
    overflow-y: scroll;
  }
  
  .l-overflow-hidden {
    overflow: hidden;
  }
  
  .l-overflow-scroll{
    overflow: scroll;
  }
  
  .l-overflow-x-hidden {
    overflow-x: hidden;
  }
  
  .l-overflow-y-hidden{
    overflow-y: hidden;
  }
}

@include breakpoints.m {
  .m-overflow-auto {
    overflow: auto;
  }
  
  .m-overflow-x-scroll{
    overflow-x: scroll;
  }
  
  .m-overflow-x-auto {
    overflow-x: auto;
  }
  
  .m-overflow-y-auto{
    overflow-y: auto;
  }
  
  .m-overflow-y-scroll{
    overflow-y: scroll;
  }
  
  .m-overflow-hidden {
    overflow: hidden;
  }
  
  .m-overflow-scroll{
    overflow: scroll;
  }
  
  .m-overflow-x-hidden {
    overflow-x: hidden;
  }
  
  .m-overflow-y-hidden{
    overflow-y: hidden;
  }
}

@include breakpoints.s {
  .s-overflow-auto {
    overflow: auto;
  }
  
  .s-overflow-x-scroll{
    overflow-x: scroll;
  }
  
  .s-overflow-x-auto {
    overflow-x: auto;
  }
  
  .s-overflow-y-auto{
    overflow-y: auto;
  }
  
  .s-overflow-y-scroll{
    overflow-y: scroll;
  }
  
  .s-overflow-hidden {
    overflow: hidden;
  }
  
  .s-overflow-scroll{
    overflow: scroll;
  }
  
  .s-overflow-x-hidden {
    overflow-x: hidden;
  }
  
  .s-overflow-y-hidden{
    overflow-y: hidden;
  }
}

@include breakpoints.xs {
  .xs-overflow-auto {
    overflow: auto;
  }

  .xs-overflow-x-scroll{
    overflow-x: scroll;
  }

  .xs-overflow-x-auto {
    overflow-x: auto;
  }

  .xs-overflow-y-auto{
    overflow-y: auto;
  }

  .xs-overflow-y-scroll{
    overflow-y: scroll;
  }

  .xs-overflow-hidden {
    overflow: hidden;
  }

  .xs-overflow-scroll{
    overflow: scroll;
  }

  .xs-overflow-x-hidden {
    overflow-x: hidden;
  }

  .xs-overflow-y-hidden{
    overflow-y: hidden;
  }
}

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}

.z-index--1 {
  z-index: -1;
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-6 {
  z-index: 6;
}

.z-index-7 {
  z-index: 7;
}

.z-index-8 {
  z-index: 8;
}

.z-index-9 {
  z-index: 9;
}

.z-index-10 {
  z-index: 10;
}

.transition-micro-short {
  transition: var(--transition-micro-short);
}

.transition-micro-medium {
  transition: var(--transition-micro-medium);
}

.transition-micro-long {
  transition: var(--transition-micro-long);
}

.transition-macro-short {
  transition: var(--transition-macro-short);
}

.transition-macro-medium {
  transition: var(--transition-macro-medium);
}

.transition-macro-long {
  transition: var(--transition-macro-long);
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.pointer-events-all {
  pointer-events: all;
}

.cursor-interactive {
  cursor: var(--cursor-interactive);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-text {
  cursor: text;
}

.cursor-move {
  cursor: move;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-wait {
  cursor: wait;
}

.cursor-help {
  cursor: help;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.cursor-zoom-out {
  cursor: zoom-out;
}