.text-decoration-none {
	text-decoration: none;
}

.reset-button-styles {
	background: none;
	padding: 0;
	outline: 0;
	border: 0;
}

.focus-ring:focus-visible {
	outline: var(--static-space-2) solid var(--brand-solid-strong);
	outline-offset: var(--static-space-2);
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
