.button {
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  padding: 0;
  white-space: nowrap;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: var(--transition-micro-medium);

  &:hover,
  &:focus {
    z-index: 1;
  }

  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
    background: var(--neutral-background-medium);
    color: var(--neutral-on-background-weak);
  }
}

.primary {
  box-shadow: inset 0 var(--solid-inset-distance) var(--solid-inset-size)
    var(--solid-inset-color-brand);
  background: var(--brand-solid-medium);
  border-style: solid;
  border-width: var(--solid-border-width);
  border-color: var(--solid-border-color-brand);
  color: var(--brand-on-solid-strong);

  &:hover {
    background: var(--brand-solid-strong);

    &:disabled {
      background: var(--neutral-background-medium);
      color: var(--neutral-on-background-weak);
      border: none;
    }
  }
}

.secondary {
  box-shadow: inset 0 var(--solid-inset-distance) var(--solid-inset-size)
    var(--solid-inset-color-neutral);
  border-style: solid;
  border: 1px solid var(--neutral-alpha-weak);
  background: var(--static-transparent);
  color: var(--neutral-on-background-strong);

  &:hover {
    background: var(--neutral-alpha-weak);
    border-color: var(--neutral-alpha-weak);

    &:disabled {
      background: var(--neutral-background-medium);
      color: var(--neutral-on-background-weak);
      border: 1px solid var(--neutral-alpha-weak);
    }
  }
}

.tertiary {
  background: var(--static-transparent);
  color: var(--neutral-on-background-strong);
  border: 1px solid var(--static-transparent);

  &:hover {
    border: 1px solid var(--neutral-border-medium);

    &:disabled {
      background: var(--neutral-background-medium);
      color: var(--neutral-on-background-weak);
      border: 1px solid var(--static-transparent);
    }
  }
}

.ghost {
  border: none;
  background: var(--static-transparent);
  color: var(--neutral-on-background-medium);

  &:hover {
    color: var(--neutral-on-background-strong);

    &:disabled {
      background: var(--neutral-background-medium);
      color: var(--neutral-on-background-weak);
      border: 1px solid var(--neutral-alpha-weak);
    }
  }
}

.danger {
  box-shadow: inset 0 var(--solid-inset-distance) var(--solid-inset-size)
    var(--solid-inset-color-danger);
  background: var(--danger-solid-medium);
  border-style: solid;
  border-width: var(--solid-border-width);
  border-color: var(--solid-border-color-danger);
  color: var(--danger-on-solid-strong);

  &:hover {
    background: var(--danger-solid-strong);

    &:disabled {
      background: var(--neutral-background-medium);
      color: var(--neutral-on-background-weak);
      border: none;
    }
  }
}

.s {
  padding: var(--static-space-4) var(--static-space-8);
  min-height: var(--static-space-32);
  height: var(--static-space-32);
  gap: var(--static-space-4);
}

.m {
  padding: var(--static-space-8) var(--static-space-12);
  min-height: var(--static-space-40);
  height: var(--static-space-40);
  gap: var(--static-space-4);
}

.l {
  padding: var(--static-space-12) var(--static-space-20);
  min-height: var(--static-space-48);
  height: var(--static-space-48);
  gap: var(--static-space-8);
}
