.s {
  min-height: var(--static-space-24);
  min-width: var(--static-space-24);
  height: var(--static-space-24);
  width: var(--static-space-24);
}

.m {
  min-height: var(--static-space-32);
  min-width: var(--static-space-32);
  height: var(--static-space-32);
  width: var(--static-space-32);
}

.l {
  min-height: var(--static-space-40);
  min-width: var(--static-space-40);
  height: var(--static-space-40);
  width: var(--static-space-40);
}
