.position {
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.dot {
	animation: pulse 2s infinite ease-out;
	transform-origin: center;
	pointer-events: none;
}

@keyframes pulse {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}
