.shineFx {
  --shine-base-opacity: 0.3;
  
  display: inline-block;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    120deg,
    color-mix(in srgb, currentColor, transparent calc((1 - var(--shine-base-opacity)) * 100%)) 40%,
    currentColor 50%,
    color-mix(in srgb, currentColor, transparent calc((1 - var(--shine-base-opacity)) * 100%)) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 5s linear infinite;
}

.inverse {
  --shine-base-opacity: 0.3;
  
  display: inline-block;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    120deg,
    currentColor 40%,
    color-mix(in srgb, currentColor, transparent calc((1 - var(--shine-base-opacity)) * 100%)) 50%,
    currentColor 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shineFx.disabled {
  animation: none;
  -webkit-text-fill-color: inherit;
  background: none;
  -webkit-background-clip: unset;
  background-clip: unset;
}